body {
  scroll-behavior: smooth;
}

.hero-section {
  height: 100vh;
  background: linear-gradient(to right, #9fbfdf, #8cb3d9);
  color: white;
  display: flex;
  align-items: center;
}

.highlight {
  color: black;
}

.section-padding {
  padding: 80px 0;
}

.project-card {
  transition: transform 0.3s;
}

.project-card:hover {
  transform: translateY(-10px);
}

.social-icon {
  color: white;
  font-size: 22px;
  margin: 0 10px;
}

.social-icon:hover {
  color: #0d6efd;
}
